<component name="ArtifactManager">
  <artifact type="war" name="springMVC_day02_fileupload:war">
    <output-path>$PROJECT_DIR$/springMVC_day02_fileupload/target</output-path>
    <root id="archive" name="springMVC_day02_fileupload.war">
      <element id="artifact" artifact-name="springMVC_day02_fileupload:war exploded" />
    </root>
  </artifact>
</component>